@import "../fonts/intro.css";


@media screen and (min-width:600px) {
    body {
        min-width: 980px;
    }
}

.container {
    position: relative;
}

body {
    font-family: 'PT Sans Caption', sans-serif, arial;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Intro";
}


.text-yellow, .text-yellow a, .text-yellow a:hover, .text-yellow a:focus {
    color: #e6e065;
}

.text-white, .text-white a, .text-white a:hover, .text-white a:focus {
    color: #ffffff;
}

.text-red, .text-red a, .text-red a:hover, .text-red a:focus {
    color: #9e0b0f;
}

.text-blue, .text-blue a, .text-blue a:hover, .text-blue a:focus {
    color: #254a73;
}

a {
    outline: none;
}

.icon {
    background: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.icon-phone-large {
    background-position: -100px -7px;
    width: 40px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
}

.header-contact-block__phone {
    font-size: 24px;
    padding-top: 20px;
    height: 123px;
}

@media screen and (min-width:768px) {

    .header-contact-block__phone {
        text-align: center;
    }

    .header-contact-block__phone-text {
        padding-top: 5px;
        margin-left: 50px;
        font-size: 14px;
        font-weight: 0;
        line-height: 16px;
    }

    .header-bg {
        background: url("../img/header-background.png") repeat-x;
        z-index: 2;
    }

    .navbar-short-menu {
        height: 123px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background: none;
        border: none;
    }

    .navbar-short-menu > li > a {
        padding: 50px 10px;
    }
    .navbar-short-menu > li > a {
        font-size: 14px;

    }

    .navbar-horizontal-menu > li > a {
        padding: 25px 5px;
        font-size: 16px;
    }

    .navbar-nav > li > a:hover {
        background: #8b99a9;

    }

    .header-logo {
        background: url("../img/taggerd-logo.png");
        height: 217px;
        width: 169px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .header-block {
        height: 249px;
        position: relative;
    }

    .header-block__icon {
        background: url("../img/sprite.png") no-repeat;
        width: 34px;
        height: 23px;
        display: inline-block;
        vertical-align: middle;
    }

    .header-block__feedback-icon {
        background-position:-191px -10px;
    }


    .header-block__pending-icon {
        background-position:-238px -10px;
    }

    .header-block__calculator-icon {
        background-position:-155px -10px;
    }
}

@media screen and (min-width:820px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 5px;
    }
}

@media screen and (min-width:990px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 7px;
    }
}


@media screen and (min-width:992px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 25px;
    }
}

@media screen and (min-width:1200px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 40px;
    }
}

@media screen and (max-width:1000px) {
    .navbar-short-menu > li {
        padding: 0px 0px;
    }
}
