@import "../fonts/intro.css";

.header-contact-block .phone {
    font-size: 12px;
}
.header-contact-block .text{
    font-size: 9px;
}

.sub-page-header {
    background-color: #003147;
    font-size: 20px;
    border-bottom: 2px solid #FFf;
    padding: 5px 0;
}

body {
    font-family: "PT Sans";
}

body img {
    max-width: 100%;
}

h1 {
    font-size: 23px;
}
h2 {
    font-size: 21px;
}

h3 {
    font-size: 19px;
}

#base-content table td {
    vertical-align: top;
}

.layout-footer {
    background:#282828;
    font-size: 13px;
    line-height:25px;
    margin-top: 50px;
    padding: 25px 0px;
}

.footer-share-widget-text {
    margin-top: 14px;
}
.footer-share-widget {
    overflow: hidden;
    height: 49px;
    vertical-align: middle;
    text-align: left;
}

div.footer {
    background:url("../img/footer-block-bg.jpg");
    color: #ffffff;
    padding-top: 50px;
    font-family: "PT Sans Caption", "PT Sans", sans-serif;
    font-weight: 100;
    font-size: 17px;
}

div.footer .contact-row {
    display: block;
    clear: both;
    margin-left: -15px;
}

div.footer .footer-title {
    font-size: 25px;
    padding-bottom: 20px;
}

div.footer ul, div.footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.footer ul li {
    padding: 5px 0;
}

div.footer ul li a {
    color: #ffffff;
}

.container {
    position: relative;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Intro",sans-serif, arial;
}


.text-yellow, .text-yellow a, .text-yellow a:hover, .text-yellow a:focus {
    color: #e6e065;
}

.text-white, .text-white a, .text-white a:hover, .text-white a:focus {
    color: #ffffff;
}

.text-red, .text-red a, .text-red a:hover, .text-red a:focus {
    color: #9e0b0f;
}

.text-blue, .text-blue a, .text-blue a:hover, .text-blue a:focus {
    color: #274875;
}

a {
    outline: none;
}

.icon {
    background: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.footer-icon {
    width: 30px;
    height: 30px;
}

.icon-phone {
    background-position: -10px -4px;
}

.icon-mail {
    background-position: -70px -6px;
}

.icon-address {
    background-position: -40px -4px;
}

.mobile-menu {
    padding: 5px;
    background: #003147;
}
.mobile-menu #show-menu{
    float: right;
    height: 25px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.header-block__icon {
    background: url("../img/sprite.png") no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.header-block__feedback-icon {
    background-position:-191px -10px;
}


.header-block__pending-icon {
    background-position:-238px -10px;
}

.header-block__calculator-icon {
    background-position:-150px -10px;
}

.header-block__menu-icon {
    background-position:-279px -10px;
}

.header-bg {
    background: #1a3a5c;
    z-index: 2;
}

.header-logo {
    background: url("../img/taggerd-logo.png") no-repeat;
    background-size: contain;
    min-height: 100px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.header-contact-block {
    padding-top: 30px;
}

.navbar-nav > li {
    float: left;
}

.header-navbar-menu {
    display: none;
}

.header-navbar-menu .navbar-nav > li {
    clear: both;
    width: 100%;
    text-align: center;
    border-top: 1px solid #737373;
    border-bottom: 1px solid #333;
}

.header-navbar-menu ul.navbar-horizontal-menu{
    border-bottom: 1px solid #737373;
    margin-bottom: 0;
}

.navbar-short-menu {
    position: relative;
    z-index: 1;
}

.nav > li > a {
    padding: 10px 5px;
}


.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    border: none;
}

.navbar-horizontal-menu > li > a:hover, .navbar-horizontal-menu > li > a:focus {
    background: #12273e;
}


@media screen and (min-width:768px) {

    .header-contact-block .phone {
        font-size: 15px;
    }

    .header-navbar-menu {
        display: block;
    }

    .header-navbar-menu .navbar-nav > li {
        clear: none;
        width: auto;
        border: none;
    }

    .header-navbar-menu ul.navbar-horizontal-menu{
        border: none;
    }

    .header-bg {
        background: url("../img/header-background.png") repeat-x;
        z-index: 2;
    }

    body {
        font-family: 'PT Sans Caption', sans-serif, arial;
    }


    .navbar-short-menu {
        height: 123px;
    }

    .nav > li > a {
        padding: 10px 15px;
    }

    .navbar-short-menu > li > a {
        padding: 50px 0px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-short-menu > li > a {
        font-size: 14px;
    }

    .navbar-horizontal-menu > li > a {
        padding: 25px 5px;
        font-size: 14px;
    }

    .header-logo {
        height: 217px;
        width: 169px;
    }

    .header-block {
        height: 249px;
        position: relative;
    }


}


@media screen and (min-width:992px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 20px;
    }

    .header-contact-block {
        text-align: left;
        position: relative;
        padding-top: 30px;
    }

    .header-contact-block .phone {
        font-size: 20px;
    }

    .header-contact-block .text{
        font-size: 13px;
    }

    .header-contact-block .icon-phone {
        position: absolute;
        left: -20px;
        top: 25px;
        width: 30px;
        height: 35px;
        background-position: -108px 0px;
    }
}

@media screen and (min-width:1200px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 30px;
        font-size: 16px;
    }
}


@media screen and (min-width:1300px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 27px;
        font-size: 17px;
    }
}