a {
    outline: none;
}
@media screen and (min-width:768px) {
    .header-bg {
        background: url("../img/header-background.png") repeat-x;
    }

    .navbar-short-menu {
        height: 123px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background: none;
        border: none;
    }

    .navbar-short-menu > li > a {
        padding: 50px 25px;
        padding-bottom: 53px;
    }
    .navbar-short-menu > li > a {
        font-size: 15px;

    }

    .navbar-horizontal-menu > li > a {
        padding: 25px 10px;
        font-size: 16px;
    }

    .navbar-nav > li > a:hover {
        background: #ece8da;
        color: #003147;
    }

    .header-logo {
        background: url("../img/taggerd-logo.png");
        height: 217px;
        width: 169px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-block {
        height: 300px;
        position: relative;
    }

    .text-yellow, .text-yellow a {
        color: #e6e065;
    }

    .text-white, .text-white a {
        color: #ffffff;
    }
}

@media screen and (min-width:820px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 13px;
    }
}

@media screen and (min-width:820px) {
    .navbar-horizontal-menu > li > a {
        padding: 25px 15px;
    }
}

@media screen and (min-width:1000px) {
    .container {
        width: 940px;
        position: relative;
    }

    .navbar-horizontal-menu > li > a {
        padding: 25px 25px;
    }
}

@media screen and (max-width:1000px) {
    .navbar-short-menu > li {
        padding: 0px 10px;
        padding-top: 50px;
    }
}
