.carousel-control {
    display: none;
}

h1, h2, h3, h4 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 140%;
}

#navbar-main {
    border: none;
    background: none;
}

/* Mobile Menu */
#menu {
    padding-bottom: 20px;
}
#menu .menu-group.last {
    margin-top: -4px;
}

#menu button {
    background: url("../img/menu-button.png") -1px 0px no-repeat;
    padding-left: 47px;
    height: 38px;
    border: none;
    font-size: 25px;
}

#menu ul,#menu li {
    margin: 0;
    padding: 3px 10px;
    list-style: none;
}

#menu li {
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width:768px) {
    #menu .collapsible-area {
        display: none;
    }
}

.footer {
    padding-top: 20px;
}